<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h1>Enter struct name, variables and types:</h1>
        <br>
        <form method="POST">
            <textarea class="resizedTextbox" name="text">Collection
id int64
name string
image media.IMedia
deeplink string
createdBy int64
createdAt time.Time
lastUpdatedBy int64
lastUpdatedAt time.Time</textarea>
        <br>
        <br>
        <br>
        <input class="gbutton" type="submit" value="Generate">
        </form>
    </body>
</html>